* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  direction: rtl;
}

:root {
  /* Neutral colors */
  --color-bg: #493d9e; /* Main header footer background */
  --color-surface: #b2a5ff; /* Cards, nav, etc. */
  --color-main-bg: #dad2ff; /* Main background */
  --color-border: #493d9e;

  /* Text */
  --color-text-primary: #000000;
  --color-text-secondary: #cccccc;
  --color-text-muted: #888888;

  /* Accent colors */
  --color-accent: #ff5252; /* Red accent */
  --color-accent-alt: #4caf50; /* Green accent */

  /* Button */
  --color-btn-bg: #b2a5ff;
  --color-btn-text: #000000;

  /* --color: #FFF2AF; */
}

@font-face {
  font-family: yekan;
  src: url("../fonts/BYekan+.ttf");
}

/* ************************************** */

body {
  font-family: yekan;
}

a {
  text-decoration: none;
}

button {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: none;
}

input {
  outline: none;
  border: none;
}

img {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  padding: 0px 50px !important;
  width: 100%;
}

section:not(#hero) {
  margin: 25px 0px;
  padding: 20px 0px;
}

/* ************************************** */

/* *****************header start**************** */
#header {
  display: flex;
  flex-direction: column;
}

#header .container {
}

#header-top-section {
  display: flex;
  justify-content: center;
  background-color: var(--color-surface);
  padding: 10px 0px;
}

#header-top-section-content {
  margin: auto;
}

#header-top-section .X-btn {
  cursor: pointer;
}

#header-main-section {
  background-color: var(--color-bg);
  padding: 20px 0px;
}

#header-main-section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header #header-logo {
  width: 120px;
}

#header #header-logo img {
  width: 100%;
  border-radius: 5px;
}

#header #header-nav {
}

#header-nav ul {
  display: inline-flex;
}

#header-nav ul.show {
  display: flex;
}

#header-nav #menu-toggle {
  display: none;
}

#header-nav ul li {
  list-style-type: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  position: relative;
}

#header-nav ul li.active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 90%;
  height: 2px;
  margin: auto;
  background-color: #fff;
}

#header-nav ul li:hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 90%;
  height: 2px;
  margin: auto;
  background-color: #fff;
}

#header-nav ul li a {
  color: #fff;
}

/* *****************header end**************** */

/* *****************main start**************** */

#main {
}

#main a {
  background-color: var(--color-btn-bg);
  color: var(--color-btn-text);
  padding: 10px;
  border-radius: 6px;
}

section:nth-child(odd) {
  background-color: var(--color-main-bg);
}

section:nth-child(even) {
  background-color: #fff;
}

.grid-div-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-div-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.grid-div-3-special {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 1rem;
  width: 100%;
  box-sizing: border-box;
  justify-items: center;
}

/* ******hero section start****** */

#main #hero {
}

#main #hero #hero-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* align-items: flex-start; */
  gap: 30px;
  padding: 50px 0px;
  background-color: var(--color-main-bg);
  /* margin-right: 24%; */
}

#hero #hero-intro h1 {
  color: var(--color-bg);
}

#hero #hero-intro a {
}

#main #hero #hero-picture {
}

#main #hero #hero-picture img {
  width: 100%;
}

/* ******hero section end****** */

/* ******portfolio section start****** */

#portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#portfolio .container {
  grid-gap: 20px;
}

#portfolio .container > div {
  /* height: 300px; */
}

#portfolio .container > div img {
  height: 100%;
  border-radius: 10px;
  /* object-fit: cover; */
  object-fit: contain;
}

.show-all-btn {
  margin-top: 60px;
}

.gallery img {
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s;
}

.gallery img:hover {
  transform: scale(1.05);
}

#lightbox {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
}

#lightbox img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}

/* portfolio.html page */

.gallery {
  column-count: 4; /* 4 columns */
  column-gap: 10px;
}

.gallery img {
  width: 100%;
  margin-bottom: 10px;
  display: block;
  border-radius: 8px;
}

/* ****** portfolio section end****** */

/* ****** blog section start****** */

#blogs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px !important;
}

#blogs .section-title {
  margin-bottom: 30px;
  margin-top: 20px;
}

#blogs .container {
  grid-gap: 20px;
}

#blogs .blog-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 10px;
  gap: 8px;
}

#blogs .blog-item .blog-picture {
  width: 300px;
  height: 300px;
}

#blogs .blog-item .blog-picture img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

#blogs .blog-item img {
  width: 100%;
  border-radius: 6px;
}

/* ****** blog section end****** */

/* *****************main end**************** */

/* ********************footer start************ */

#footer {
  background-color: var(--color-bg);
  color: #fff;
  padding: 50px 0px;
}

#footer .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#footer .container .footer-colums {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#footer .container div h3 {
  margin-bottom: 30px;
}

#footer li {
}

#footer .social-media-icons li {
  display: inline-block;
  padding: 5px;
  margin: 10px;
  background-color: #fff;
  border-radius: 50%;
}

#footer .social-media-icons i {
  color: #000;
}

/* ********************footer end************ */

/* *****************about-us.html********** */

#about-us-content {
  padding: 30px;
  line-height: 1.6;
}

#about-me-picture img {
  border-radius: 10px;
}

#lets-work-together .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

#lets-work-together h3,
#lets-work-together a {
  color: var(--color-bg);
  background-color: unset;
}

/* *******************************contact-us.html****************** */

#contact-us-section {
}

#contact-us-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#contact-us-section form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
}

#contact-us-section form input {
  padding: 10px;
}

#contact-us-section form button {
  background-color: var(--color-btn-bg);
}

#contact-us-section form button:hover {
  background-color: var(--color-bg);
  color: #fff;
}

/* ********************blog-post start************************* */

.blog-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  margin: 20px 0px;
}

/* ********************blog-post end************************* */
/* **********************responsive********************responsive**************************** */

@media (max-width: 930px) {
  #blogs .section-title {
    font-size: 21px;
  }
  #portfolio .gallery {
    column-count: 3;
    column-gap: 20px;
  }
}

@media (max-width: 900px) {
  #about-me .grid-div-2 {
    display: grid;
    grid-template-columns: auto 350px;
  }
}

@media (max-width: 850px) {
  #header-nav ul {
    display: none;
    flex-direction: column;
    background: var(--color-surface);
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
    padding: 10px;
  }
  #header-nav #menu-toggle {
    display: block;
  }
  .gallery.portfolio-page {
    column-count: 3;
  }
}

@media (max-width: 815px) {
  #main #hero #hero-intro {
    font-size: 15px !important;
  }
  #main #hero #hero-picture img {
    height: 100% !important;
  }
  .grid-div-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  #portfolio .gallery {
    column-count: 2;
    column-gap: 20px;
  }
}

@media (max-width: 800px) {
  #about-me .grid-div-2 {
    display: grid;
    grid-template-columns: auto 310px;
  }
}

@media (max-width: 760px) {
  .grid-div-2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  #main #hero #hero-intro {
    font-size: 18px;
  }
  .gallery.portfolio-page {
    column-count: 2;
  }
  #about-us-content {
    font-size: 14px;
  }
  #about-us-content {
    padding: 0px;
    padding-left: 20px;
  }
}

@media (max-width: 700px) {
  #header-top-section-content p {
    font-size: 14px !important;
  }
  #header #header-logo {
    width: 100px;
  }
  #about-me .grid-div-2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  #about-us-content {
    padding: 0px;
    line-height: 1.9;
  }
  @media (max-width: 700px) {
    #about-me-picture {
      width: 360px;
      margin: auto;
      margin-top: 30px;
    }
  }
  #lets-work-together .container {
    font-size: 15px;
  }
}

#footer .social-media-icons li {
  margin: 4px;
}
#main .hero .container img {
  width: 300px;
}

@media (max-width: 672px) {
  #footer {
    padding: 20px 0px;
  }

  #footer .container {
    flex-direction: column;
    gap: 40px;
  }

  #footer li {
    text-align: center;
  }
}

@media (max-width: 650px) {
  #blogs .section-title {
    font-size: 19px;
  }
  #portfolio .gallery {
    column-count: 1;
    column-gap: 20px;
  }
  #about-us-content {
    font-size: 13px;
  }
}

@media (max-width: 600px) {
  .grid-div-3 {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

@media (max-width: 580px) {
  #main #hero #hero-intro {
    font-size: 16px !important;
  }
  #header #header-logo {
    width: 90px;
  }
  #portfolio .container {
    padding: 20px;
  }
  .gallery.portfolio-page {
    column-count: 1;
  }
  #lets-work-together .container {
    font-size: 14px;
  }
}

@media (max-width: 530px) {
  #header .container {
    padding: 0px 20px !important;
  }
}
@media (max-width: 480px) {
  #header-top-section-content p {
    font-size: 12px !important;
  }
  #main #hero #hero-intro {
    font-size: 15px !important;
  }
  #about-me-picture {
    width: auto;
  }
}

@media (max-width: 380px) {
  #header-top-section-content p {
    font-size: 10px !important;
  }
  #main #hero #hero-intro {
    font-size: 13px !important;
  }
  #header #header-logo {
    width: 80px;
  }
  #main a {
    padding: 7px;
    font-size: 14px;
  }
  #blogs .section-title {
    font-size: 17px;
  }
}

@media (max-width: 325px) {
  #header-top-section-content p {
    font-size: 9px !important;
  }
  #main #hero #hero-intro {
    font-size: 11px !important;
  }
  #header-main-section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 30px;
  }
  #header #header-logo {
    width: 110px;
  }
  #blogs .section-title {
    font-size: 15px;
  }
  .grid-div-3-special {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
