* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  direction: rtl;
}

:root {
  /* Neutral colors */
  --color-bg: #493d9e; /* Main header footer background */
  --color-surface: #b2a5ff; /* Cards, nav, etc. */
  --color-main-bg: #dad2ff; /* Main background */
  --color-border: #493d9e;

  /* Text */
  --color-text-primary: #000000;
  --color-text-secondary: #cccccc;
  --color-text-muted: #888888;

  /* Accent colors */
  --color-accent: #ff5252; /* Red accent */
  --color-accent-alt: #4caf50; /* Green accent */

  /* Button */
  --color-btn-bg: #b2a5ff;
  --color-btn-text: #000000;

  /* --color: #FFF2AF; */

}

@font-face {
  font-family: yekan;
  src: url("../fonts/BYekan+.ttf");
}

/* ************************************** */

body {
  font-family: yekan;
}

a {
  text-decoration: none;
}

button {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: none;
}

input {
  outline: none;
  border: none
}

img {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  padding: 0px 50px !important;
  width: 100%;
}

section:not(#hero) {
  margin: 25px 0px;
  padding: 20px 0px;
}

/* ************************************** */

/* *****************header start**************** */
#header {
  display: flex;
  flex-direction: column;
}

#header .container {
}

#header-top-section {
  display: flex;
  justify-content: center;
  background-color: var(--color-surface);
  padding: 10px 0px;
}

#header-top-section-content {
  margin: auto;
}

#header-top-section .X-btn {
  cursor: pointer;
}

#header-main-section {
  background-color: var(--color-bg);
  padding: 20px 0px;
}

#header-main-section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header #header-logo {
  width: 100px;
}

#header #header-logo img {
  width: 100%;
}

#header #header-nav {
}

#header-nav ul {
  display: inline-flex;
}

#header-nav ul li {
  list-style-type: none;
  padding: 10px 20px;
  border-radius: 5px;
  position: relative;
}

#header-nav ul li.active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 90%;
  height: 2px;
  margin: auto;
  background-color: #fff;
}

#header-nav ul li:hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 90%;
  height: 2px;
  margin: auto;
  background-color: #fff;
}

#header-nav ul li a {
  color: #fff;
}

/* *****************header end**************** */

/* *****************main start**************** */

#main {
}

#main a {
  background-color: var(--color-btn-bg);
  color: var(--color-btn-text);
  padding: 10px;
  border-radius: 6px;
}

section:nth-child(odd) {
  background-color: var(--color-main-bg);
}

section:nth-child(even) {
  background-color: #fff;
}

.grid-div-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-div-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* ******hero section start****** */

#main #hero {
}

#main #hero #hero-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 50px 0px;
  background-color: var(--color-main-bg);
}

#hero #hero-intro h1 {
  color: var(--color-bg);
}

#hero #hero-intro a {
}

#main #hero #hero-picture {
}

#main #hero #hero-picture img {
  width: 100%;
}

/* ******hero section end****** */

/* ******portfolio section start****** */

#portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#portfolio .container {
  grid-gap: 20px;
}

#portfolio .container > div {
  height: 300px;
}

#portfolio .container > div img {
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.show-all-btn {
  margin-top: 60px;
}

.gallery img {
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s;
}

.gallery img:hover {
  transform: scale(1.05);
}

#lightbox {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.8);
  z-index: 999;
}

#lightbox img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}

/* portfolio.html page */

.gallery {
  column-count: 4; /* 4 columns */
  column-gap: 10px;
}

.gallery img {
  width: 100%;
  margin-bottom: 10px;
  display: block;
  border-radius: 8px;
}


/* ****** portfolio section end****** */

/* ****** blog section start****** */

#blogs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px !important;
}

#blogs .section-title {

  margin-bottom: 30px;
  margin-top: 20px;
}

#blogs .container {
  grid-gap: 20px;
}

#blogs .blog-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 10px;
  gap: 8px;
}

#blogs .blog-item .blog-picture {
  width: 300px;
  height: 300px;
}

#blogs .blog-item .blog-picture img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

#blogs .blog-item img {
  width: 100%;
  border-radius: 6px;
}

/* ****** blog section end****** */

/* *****************main end**************** */

/* ********************footer start************ */

#footer {
  background-color: var(--color-bg);
  color: #fff;
  text-align: center;
  padding: 30px 0px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#footer h2 {
  margin-bottom: 5px;
  font-size: 24px;
  color: #fff;
}

#footer p {
  margin: 5px 0;
  font-size: 14px;
}

.social-links {
  margin: 15px 0;
}

.social-links a {
  margin: 0 10px;
  color: #fff;
  font-size: 16px;
  transition: color 0.3s;
}

.social-links a i {
  margin-left: 6px;
}

.social-links a:hover {
  color: #ffffff;
}

.quote {
  margin-top: 20px;
  font-style: italic;
  opacity: 0.8;
  font-size: 13px;
}

/* ********************footer end************ */

/* *****************about-us.html********** */

#about-us-content {
  padding: 30px;
  line-height: 1.6;
}

#lets-work-together .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

#lets-work-together h3, #lets-work-together a {
  color: var(--color-bg);
  background-color: unset;
}